{% extends 'news/base.html'%} {% load static %} {% block title %}Parolni
almashtirish{% endblock title %} {% block content %}

<h1>Foydalanuvchi parolni tiklash</h1>
<p>Parolni almashtirish uchun linkni to'ldiring.</p>
{% if validlink %}
<p>Iltimos yangi parolni 2 marotaba kiriting:</p>
<form action="" method="post">
	{%csrf_token%} {{form.as_p}}
	<p>
		<button type="submit" class="btn btn-primary">Parolni almashtirish</button>
	</p>
</form>
{% else %}
<p>Parolni almashtirish linki muddati o'tib ketgan qaytadan urinib ko'ring.</p>
{% endif %} {% endblock content %}
