{% extends 'news/base.html' %} {% load static %} {% load i18n %}
{% block title %}Foydalanuvchi
ma'lumotlarini o'zgartirish{% endblock %} {% block content %}
<div
	class="container d-flex justify-content-center align-items-center"
	style="min-height: 80vh"
>
	<div class="col-md-6">
		<div class="card shadow-lg border-0 rounded-3">
			<div class="card-header bg-success text-white text-center">
				<h4 class="mb-0">{% blocktrans %}Foydalanuvchi ma'lumotlarini o'zgartirish{% endblocktrans %}</h4>
			</div>
			<div class="card-body">
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="mb-3">{{ user_form.as_p }}</div>
					<div class="mb-3">{{ profile_form.as_p }}</div>

					<div class="d-grid">
						<button type="submit" class="btn btn-primary">
							💾 {% blocktrans %}O'zgarishlarni saqlash{% endblocktrans %}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
