{% extends "news/base.html" %} {% load static %} {% block title %} Contact -
News24 {% endblock title %} {% block content %}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active">Contact</li>
		</ul>
	</div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Start -->
<div class="contact">
	<div class="container-fluid">
		<div class="row align-items-center">
			<!-- Contact Form -->
			<div class="col-md-4">
				<div class="form">
					<form method="POST">
						{% csrf_token %}
						<div class="form-row">
							<div class="form-group col-md-6">
								<input
									type="text"
									class="form-control"
									placeholder="Your Name"
									name="name"
									required
								/>
							</div>
							<div class="form-group col-md-6">
								<input
									type="email"
									class="form-control"
									placeholder="Your Email"
									name="email"
									required
								/>
							</div>
						</div>
						<div class="form-group">
							<input
								type="text"
								class="form-control"
								placeholder="Subject"
								name="subject"
								required
							/>
						</div>
						<div class="form-group">
							<textarea
								class="form-control"
								rows="5"
								placeholder="Message"
								name="message"
								required
							></textarea>
						</div>
						<div>
							<button class="btn btn-primary" type="submit">
								Xabar yuborish
							</button>
						</div>
					</form>
				</div>
			</div>

			<!-- Map -->
			<div class="col-md-4">
				<div class="map">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.985767636229!2d-73.52689268518203!3d40.78432704112558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c281127307115f%3A0x90d5abaf2f0279de!2sTerry%20Ln%2C%20Jericho%2C%20NY%2011753%2C%20USA!5e0!3m2!1sen!2sbd!4v1580837516748!5m2!1sen!2sbd"
						frameborder="0"
						style="border: 0; width: 100%; height: 300px"
						allowfullscreen=""
						aria-hidden="false"
						tabindex="0"
					>
					</iframe>
				</div>
			</div>

			<!-- Contact Info -->
			<div class="col-md-4">
				<div class="contact-info">
					<h3>Bog‘lanish</h3>
					<p>
						Biz bilan bog‘lanish uchun quyidagi ma’lumotlardan foydalanishingiz
						mumkin.
					</p>
					<h4>
						<i class="fa fa-map-marker"></i> 123 Terry Lane, New York, USA
					</h4>
					<h4><i class="fa fa-envelope"></i> email@example.com</h4>
					<h4><i class="fa fa-phone"></i> +123-456-7890</h4>
					<div class="social">
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-facebook"></i></a>
						<a href="#"><i class="fab fa-linkedin"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact End -->

{% endblock content %} {% block js %}
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/slick/slick.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/js/all.min.js"></script>
<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
{% endblock js %}
