{% extends "news/base.html" %} {% load static %} {% block title %}Home - News
24{% endblock title %}{% block content %}
<!-- Top News Start-->
<div class="top-news">
	<div class="container-fluid">
		<div class="row">
{% for new in news %}
    {% if forloop.first %}
        <!-- Chap tomondagi katta yangilik -->
        <div class="col-md-6 tn-left">
            <div class="tn-img">
                <a href="{{ new.get_absolute_url }}"><img src="{{ new.image.url }}" alt="{{ new.title }}" /></a>
                <div class="tn-content">
                    <div class="tn-content-inner">
                        <a class="tn-date" href="">
                            <i class="far fa-clock"></i>{{ new.publish_time}}
                        </a>	
                        <a class="tn-title" href="{{ new.get_absolute_url}}">
                            {{ new.title }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- O‘ng tomonni ochamiz -->
        <div class="col-md-6 tn-right">
            <div class="row">
    {% else %}
        <!-- O‘ng tomondagi kichik yangiliklar -->
        <div class="col-md-6">
            <div class="tn-img">
              <a href="{{ new.get_absolute_url }}"><img src="{{ new.image.url }}" alt="{{ new.title }}" /></a>
                <div class="tn-content">
                    <div class="tn-content-inner">
                        <a class="tn-date" href="">
                            <i class="far fa-clock"></i>{{ new.publish_time }}
                        </a>
                        <a class="tn-title" href="{{ new.get_absolute_url }}">
                            {{ new.title }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
						</div>
				</div>

		</div>
	</div>
</div>
<!-- Top News End-->

<!-- Category News Start-->
<div class="cat-news">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h2><i class="fas fa-align-justify"></i>Sport Habarlari</h2>
				<div class="row cn-slider">
					{% for sport in sport_news %}
					<div class="col-md-6">
						<div class="cn-img">
							<a href='{{ sport.get_absolute_url }}'><img src="{{ sport.image.url }}" alt="{{ sport.title }}" /></a>
							<div class="cn-content">
								<div class="cn-content-inner">
									<a class="cn-date" href="{{ sport.get_absolute_url }}"
										><i class="far fa-clock"></i>{{ sport.publish_time }}</a
									>
									<a class="cn-title" href="{{ sport.get_absolute_url }}"
										>{{ sport.title }}</a
									>
								</div>
							</div>
						</div>
					</div>
			{% endfor %}
				</div>
			</div>
			<div class="col-md-6">
				<h2><i class="fas fa-align-justify"></i>Texnologiya</h2>
				<div class="row cn-slider">
					{% for tech in technology_news%}
					<div class="col-md-6">
						<div class="cn-img">
							<a href='{{ tech.get_absolute_url }}'></a><img src="{{ tech.image.url }}" alt="{{ tech.title }}" /></a>
							<div class="cn-content">
								<div class="cn-content-inner">
									<a class="cn-date" href="{{ tech.get_absolute_url }}"
										><i class="far fa-clock"></i>{{ tech.publish_time }}</a
									>
									<a class="cn-title" href="{{ tech.get_absolute_url }}">{{ tech.title }}</a>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Category News End-->

<!-- Category News Start-->
<div class="cat-news">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h2><i class="fas fa-align-justify"></i>Маҳаллий</h2>	
				<div class="row cn-slider">
					{% for max in maxalliy_news%}
					<div class="col-md-6">
						<div class="cn-img">
							<a href="{{ max.get_absolute_url }}"><img src="{{ max.image.url }}" alt="{{ max.title }}" /></a>
							<div class="cn-content">
								<div class="cn-content-inner">
									<a class="cn-date" href="{{ max.get_absolute_url }}"
										><i class="far fa-clock"></i>{{ max.publish_time }}</a
									>
									<a class="cn-title" href="{{ max.get_absolute_url }}"
										>{{ max.title }}</a
									>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

			<div class="col-md-6">
				<h2><i class="fas fa-align-justify"></i>Xorij yangiliklari</h2>
				<div class="row cn-slider">
					{% for ext in external_news %}
					<div class="col-md-6">
						<div class="cn-img">
							<a href='{{ ext.get_absolute_url }}'<img src="{{ ext.image.url }}" alt="{{ ext.title }}" /></a>
							<div class="cn-content">
								<div class="cn-content-inner">
									<a class="cn-date" href="{{ ext.get_absolute_url }}"
										><i class="far fa-clock"></i>{{ ext.publish_time }}</a
									>
									<a class="cn-title" href="{{ ext.get_absolute_url }}">{{ ext.title }}</a>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Category News End-->

<!-- Main News Start-->
<div class="main-news">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<h2><i class="fas fa-align-justify"></i>So'nggi Yangiliklar</h2>
						<div class="row">
							{% for new in news %}
							<div class="col-lg-6">
								<div class="mn-img">
									<a href="{{ new.get_absolute_url }}"><img src="{{ new.image.url }}" alt="{{ new.title }}" /></a>
								</div>
								<div class="mn-content">
									<a class="mn-title" href="{{ new.get_absolute_url }}"
										>{{ new.title }}</a
									>
									<a class="mn-date" href="">
										<i class="far fa-clock"></i> {{ new.publish_time }}
									</a>
									<p>{{ new.body|truncatewords:20 }}</p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>

					<div class="col-md-12">
						<h2><i class="fas fa-align-justify"></i>Ommabop habarlar</h2>
						<div class="row">
							<div class="col-lg-6">
								<div class="mn-img">
									<img src="{% static 'images/popular-news.jpg' %}" />
								</div>
								<div class="mn-content">
									<a class="mn-title" href=""
										>Phasellus gravida metus vitae laoreet aliquam</a
									>
									<a class="mn-date" href=""
										><i class="far fa-clock"></i>05-Feb-2020</a
									>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										Vivamus sed porta dui. Class aptent taciti sociosqu ad
										litora torquent per conubia nostra inceptos...
									</p> 
								</div>
							</div>
							<div class="col-lg-6">
								<div class="mn-list">
									<div class="mn-img">
										<img src="{% static 'images/popular-news.jpg' %}" />
									</div>
									<div class="mn-content">
										<a class="mn-title" href="">Nullam risus ante sempe</a>
										<a class="mn-date" href=""
											><i class="far fa-clock"></i>05-Feb-2020</a
										>
									</div>
								</div>
								<div class="mn-list">
									<div class="mn-img">
										<img src="{% static 'images/popular-news.jpg' %}" />
									</div>
									<div class="mn-content">
										<a class="mn-title" href=""
											>Pellentesque ultrices quam id ipsum tempor</a
										>
										<a class="mn-date" href=""
											><i class="far fa-clock"></i>0{{ new.publish_time }}							</div>
								</div>
								<div class="mn-list">
									<div class="mn-img">
										<img src="{% static 'images/popular-news.jpg' %}" />
									</div>
									<div class="mn-content">
										<a class="mn-title" href=""
											>Nam ex magna, commodo sed turpis rutrum</a
										>
										<a class="mn-date" href=""
											><i class="far fa-clock"></i>05-Feb-2020</a
										>
									</div>
								</div>
								<div class="mn-list">
									<div class="mn-img">
										<img src="{% static 'images/popular-news.jpg' %}" />
									</div>
									<div class="mn-content">
										<a class="mn-title" href="">Aliquam condimentum metus</a>
										<a class="mn-date" href=""
											><i class="far fa-clock"></i>05-Feb-2020</a
										>
									</div>
								</div>
								<div class="mn-list">
									<div class="mn-img">
										<img src="{% static 'images/popular-news.jpg' %}" />
									</div>
									<div class="mn-content">
										<a class="mn-title" href=""
											>Ut ornare rutrum ligula erat volutpat</a
										>
										<a class="mn-date" href=""
											><i class="far fa-clock"></i>05-Feb-2020</a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>

			<div class="col-md-4">
				<div class="sidebar">
					<div class="sidebar-widget">
						<h2><i class="fas fa-align-justify"></i>Category</h2>
						<div class="category">
							<ul class="fa-ul">
								{% for category in categories %}
								<li>
									<span class="fa-li"
										><i class="far fa-arrow-alt-circle-right"></i></span
									><a href="">{{ category.name }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="sidebar-widget">
						<h2><i class="fas fa-align-justify"></i>Tags</h2>
						<div class="tags">
						{% for category in categories %}
							<a href="">{{ category.name }}</a>
						{% endfor %}
						</div>
					</div>

					<div class="sidebar-widget">
						<h2><i class="fas fa-align-justify"></i>Ads 1 column</h2>
						<div class="image">
							<a href=""
								><img src="{% static 'images/adds-1.jpg' %}" alt="Image"
							/></a>
						</div>
					</div>

					<div class="sidebar-widget">
						<h2><i class="fas fa-align-justify"></i>Ads 2 column</h2>
						<div class="image">
							<div class="row">
								<div class="col-sm-6">
									<a href=""
										><img src="{% static 'images/adds-2.jpg' %}" alt="Image"
									/></a>
								</div>
								<div class="col-sm-6">
									<a href=""
										><img src="{% static 'images/adds-2.jpg' %}" alt="Image"
									/></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% block js %}
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/slick/slick.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/js/all.min.js"></script>
<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
{% endblock js %}
<!-- Main News End-->
{% endblock content %}
