{% extends "news/base.html" %}
{% block content %}
<div class="container mt-4">
  <h5>{% trans "Parolni yangilash" %}: {{ user.username }}</h5>
  <form method="post">{% csrf_token %}
    <div class="form-group">
      <label>{% trans "Yangi parol" %}</label>
      <input type="password" name="new_password" class="form-control" required>
    </div>
    <button class="btn btn-warning">{% trans "Yangilash" %}</button>
    <a class="btn btn-secondary" href="{% url 'news:admin_page' %}">{% trans "Bekor qilish" %}</a>
  </form>
</div>
{% endblock %}
